/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  overflow: hidden;
}
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}



/* grids dont transition for some bs reason */

.flex-container {
  display: flex;
  width: 100%;
}

.flex-left, .flex-right {
  flex: 1 1 0;
  transition: flex 0.5s ease;
}

.flex-middle {
  /*dumb shit*/
  flex: 15 1 0;
  transition: flex 0.5s ease;
}

.flex-container.expanded .flex-left, .flex-container.expanded .flex-right {
  flex: 3 1 0;
}

.flex-container.expanded .flex-middle {
  flex: 2 1 0;
}



#overlayCentering {
  position: absolute;
  bottom: -210px;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: InterVariable, sans-serif;
}
#matchOverlayContainer {
  display: flex;
}

.elim-alliance {
  z-index: -1;
}
#leftElimAlliance {
  left: 23px;
  justify-content: start;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-right: none;
}
#rightElimAlliance {
  right: 23px;
  justify-content: end;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-left: none;
}
.teams {
  width: 55px;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  font-size: 20px;
  line-height: 25px;
}
#leftTeams {
}
#rightTeams {
}
.reversible-left[data-reversed="false"],
.reversible-right[data-reversed="true"] {
  background-color: #991b1b;
}
.reversible-left[data-reversed="true"],
.reversible-right[data-reversed="false"] {
  background-color: #1e40af;
}
.score {
  width: 0;
}
.avatars {
  min-width: 50px;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.avatar {
  height: 25px;
}

.score-fields {
  height: 100%;
  width: 0;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  opacity: 0;
}
#matchCircle {
  position: absolute;
  top: -25px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
}
.logo {
  margin: auto;
  height: 100px;
}
.shrink {
  height: 85px !important;
}
#matchTime {
  color: #222;
}
#eventMatchInfo {
  height: 0;
  display: none;
  justify-content: space-between;
  z-index: -1;
  align-items: flex-end;
  padding: 0 5px;
  background-color: #444;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}
#elimSeriesStatus {
  width: 40px;
  height: 18px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fc0;
  color: #222;
  border: 1px solid #222;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 15px;
  font-weight: 200;
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}
#blindsContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
.blinds {
  position: fixed;
  top: 0;
  background-size: 200%;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.blinds.left {
  background-position: left;
  left: -50%;
}
.blinds.right {
  background-position: right;
  right: -50%;
}
.blinds.full {
  width: 100%;
  background-position: center;
  background-size: 100%;
}
.blinds.background {
  background-image: url("/static/img/waves.png");
}
.blindsCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto auto;
  border-radius: 50%;
  width: 310px;
  height: 310px;
  background-color: #fff;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  display: flex;
}
.blindsCenter.full {
  left: 0;
  right: 0;
  transform: rotateY(-180deg);
}
.blinds.left .blindsCenter.blank {
  right: -155px;
}
.blinds.full .blindsCenter.blank {
  right: 0;
  left: 0;
}
.blinds.right .blindsCenter.blank {
  left: -155px;
}
#blindsLogo {
  margin: auto;
  height: 290px;
}
#finalScore {
  width: 1200px;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  opacity: 0;
  background-color: #e5e7eb;
  border-radius: 0.5rem;
}

.final-score-container {
  display: flex;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 2px solid rgb(209 213 219);
}

.final-left-score-container {
  background-color: #991b1b;
  width: 50%;
  border-top-left-radius: 0.5rem;
}
.final-right-score-container {
  background-color: #1e40af;
  width: 50%;
  border-top-right-radius: 0.5rem;
}
.final-score {
  line-height: 225px;
  font-size: 100px;
  text-align: center;
  height: 22rem;
  border-top-left-radius: 0.5rem;
}
#leftFinalScore {
  color: #fef2f2;
}
#rightFinalScore {
  color: #eff6ff;
}
.final-teams {
  overflow: hidden;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.final-team {
  color: #111827;
  display: flex;
}
.rank-spacer {
  display: inline-block;
  width: 42px;
}
.rank-box {
  text-align: center;
  margin-right: 2px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 13pt;
  width: 28px;
  position: relative;
  bottom: 6px;
}
.rank-box.rank-up {
  color: #fff;
  background-color: #0a3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.rank-box.rank-down {
  color: #fff;
  background-color: #c11;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.rank-box.rank-same {
  color: #222;
  background-color: #aaa;
  border-radius: 3px;
}
.arrow-up {
  width: 0;
  height: 0;
  position: absolute;

  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 8px solid #0a3;
  top: 227px;
}
.arrow-down {
  width: 0;
  height: 0;
  position: absolute;

  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 8px solid #c11;
  top: 260px;
}
.final-teams > span {
  margin: 0 10px;
}
.final-teams > span > sup {
  margin-left: 3px;
  font-size: 18px;
  vertical-align: super;
}
.final-avatar {
  height: 35px;
  position: relative;
  bottom: 5px;
  margin-left: 3px;
}
#leftFinalTeams {
  background: #e5e7eb;
}
#rightFinalTeams {
  background: #e5e7eb;
}
.rank-up {
  color: #0c3;
}
.rank-down {
  color: #f33;
}
.final-breakdown {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1rem;
  row-gap: 1rem;
}
.final-breakdown-header {
  color: #374151 !important;
  font-size: 2.75rem !important;
  line-height: 2.5rem !important;
}
.final-breakdown > div {
  text-align: center;
  font-size: 3rem; /* 48px */
  line-height: 1;
  color: #1f2937;
}
#leftFinalBreakdown {
  clear: left;
  text-align: right;
}
#rightFinalBreakdown {
  text-align: left;
}
#centerFinalBreakdown {
  width: 34%;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#finalEventMatchInfo {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
[data-checked="true"] {
  color: #0c0;
}
[data-checked="false"] {
  color: #e00;
}
.final-footer {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  color: #374151;
}

.final-footer-header {
  color: #374151;
  font-size: 3rem; /* 48px */
  line-height: 1;
}

#finalSeriesStatus {
  text-align: center;
  min-height: 1px;
}
#finalSeriesStatus[data-leader="red"] {
  color: #991b1b;
}
#finalSeriesStatus[data-leader="blue"] {
  color: #1e40af;
}
#finalMatchName {
  text-align: right;
}
#bracket {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 1;
  opacity: 0;
  text-align: center;
}
#bracketSvg {
  width: 100%;
}
#sponsor {
  position: fixed;
  width: 1000px;
  height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  border: 2px solid #333;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
  text-align: center;
}
#sponsor .carousel-inner,
#sponsor .item {
  height: 100%;
}
.sponsor-image-container {
  width: 1000px;
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}
#sponsor h1,
#sponsor h2 {
  margin: 0;
}
#sponsor h1 {
  font-size: 60px;
  background-color: #444;
  color: #fff;
  padding: 0.25em;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 96px;
}
#sponsor h2 {
  font-size: 6em;
  padding-top: 145px;
  line-height: 110px;
}
#sponsor img {
  max-width: 800px;
  max-height: 400px;
}
#allianceSelectionCentering {
  position: absolute;
  height: 100%;
  top: 3em;
  right: 3em;
}
#allianceSelection {
  display: table-cell;
  vertical-align: middle;
}
#allianceSelectionTable {
  background-color: #f3f4f6;
  border-radius: 0.375rem;
  text-align: center;
  font-size: 3.5em;
}
#allianceSelectionTable img {
  width: 6em;
  margin: 0.2em;
}
#allianceSelectionTable tr:nth-child(even) {
  background: #fff;
}
.alliance-cell {
  padding: 0px 40px;
  color: #999;
}
.selection-cell {
  width: 3.4em;
  color: #222;
}
#lowerThird {
  display: none;
  position: absolute;
  left: -1000px;
  bottom: 100px;
  background-color: #fff;
  border: 1px solid #222;
  color: #222;
  font-size: 30px;
  width: 800px;
  height: 87px;
}
#lowerThirdLogo {
  margin: 12px 20px;
  height: 60px;
  float: left;
}
#lowerThirdTop {
  position: relative;
  top: 10px;
  display: none;
}
#lowerThirdBottom {
  display: none;
  font-size: 23px;
  position: relative;
  top: 5px;
}
#lowerThirdSingle {
  display: none;
  line-height: 87px;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.m-auto {
  margin: auto;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.w-\[52rem\] {
  width: 62rem;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-md {
  border-radius: 0.375rem;
}
.bg-blue-400 {
  background-color: rgb(96 165 250);
}
.bg-blue-500 {
  background-color: rgb(59 130 246);
}
.bg-gray-900 {
  background-color: rgb(17 24 39);
}
.bg-red-400 {
  background-color: rgb(248 113 113);
}
.bg-red-500 {
  background-color: rgb(239 68 68);
}
.bg-white {
  background-color: rgb(255 255 255);
}
.p-16 {
  padding: 4rem;
}
.p-2 {
  padding: 0.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.ml-auto {
  margin-left: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.text-center {
  text-align: center;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}
.leading-6 {
  line-height: 1.5rem;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.text-gray-800 {
  color: rgb(31 41 55);
}
.text-red-50 {
  color: rgb(254 242 242);
}
.text-white {
  color: rgb(255 255 255);
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-500 {
  transition-duration: 500ms;
}