/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

/* Bootstrap overrides. */
.form-control[disabled] {
  cursor: default;
}
.btn[disabled] {
  color: #000;
  opacity: 0.2;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif !important;  }
}

.red-text {
  color: #f00;
}
.blue-text {
  color: #00f;
}
.well-red {
  background-color: #f6eaea;
}
.well-darkred {
  background-color: #f6eaea;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.well-blue {
  background-color: #d9edf7;
}
.well-darkblue {
  background-color: #d9edf7;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.col-no-padding {
  padding-left: 0;
  padding-right: 0;
}
.modal-large {
  width: 60%;
}
.ds-status, .radio-status, .robot-status, .bypass-status {
  background-color: #aaa;
  color: #000;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0px;
  width: 50px;
  height: 27px;
  line-height: 25px;
  font-size: 14px;
  margin: 0 auto;
}
.bypass-status {
  cursor: pointer;
}
[data-status-ok="true"] {
  background-color: #38A169;
}
[data-status-ok="false"] {
  background-color: #e66;
}
[data-blink="true"] {
  background-color: #fc0;
}
.btn-match-play {
  width: 150px;
  font-size: 16px;
}
.label-scoring {
  background-color: #e66;
}
.label-scoring[data-ready=true] {
  background-color: #0c6;
}
.label-saved-match {
  background-color: #999;
}
.nowrap {
  white-space: nowrap;
}
.indentwrap p {
  margin: 8px 0px;
  padding-left: 20px;
  text-indent: -20px;
}
.btn-lower-third {
  width: 80px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
td[data-plc-value="false"] {
  color: #f00;
}
td[data-plc-value="true"] {
  color: #090;
}
.btn-game-sound {
  width: 160px;
  text-align: left;
}
input[data-changed="true"], select[data-changed="true"] {
  border: 2px solid #f00;
}
.score-block {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.status-well {
  margin-bottom: 10px;
  border-width: 0px;
}
#buttonBottomRow {
  margin-top: 5px;
  margin-bottom: 10px;
}


.score-button {
  min-height: 100px;
  border: 1px solid #ccc;
  color: white;
  min-width: 150px;
  font-size: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 15px;
  display:block;
}


.increase-button {
  background-color: green;
}
.increase-button:active {
  background-color: darkgreen;
}
.decrease-button {
  background-color: #e66;
}
.decrease-button:active {
  background-color: #de5f5f;
}

.score-buttons-container {
  margin-top: 40px;
}

.disabled-score-button {
  background-color: #ccc !important;
}
.disabled-score-button :active{
  background-color: #ccc !important;
}