{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

Display shown on the audience screen overlayed over the video.
*/}}
<!DOCTYPE html>
<html>

<head>
  <title>Audience Display - {{.EventSettings.Name}} - Cheesy Arena </title>
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/cheesy-arena.css" />
  <link rel="stylesheet" href="/static/css/audience_display.css" />
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
</head>

<body>
  <div id="overlayCentering">
    <div id="matchOverlayContainer">
      <div class="w-[52rem] overflow-hidden rounded-md transition-all duration-500 flex-container" id="matchOverlay">
        <div class="flex bg-red-500 p-2 transition-all duration-500 flex-left" id="overlayLeft">
          <div class="rounded-md bg-red-400 p-2 text-center text-red-50 font-normal">
            <div id="leftTeam1"></div>
            <div id="leftTeam2"></div>
            <div id="leftTeam3"></div>
          </div>
          <h2 class="m-auto text-center text-7xl font-semibold text-white score-number" id="leftScoreNumber"></h2>
        </div>
        <div class="flex flex-col bg-white py-1 transition-all duration-500 flex-middle" id="overlayMiddle">
          <div class="m-auto text-6xl font-semibold" id="matchTime"></div>
          <span class="text-center font-light text-gray-800" id="matchName"></span>
        </div>
        <div class="flex bg-blue-500 p-2 transition-all duration-500 flex-right" id="overlayRight">
          <h2 class="m-auto text-center text-7xl font-semibold text-white score-number" id="rightScoreNumber"></h2>
          <div class="rounded-md bg-blue-400 p-2 text-center text-red-50 ml-auto font-normal">
            <div id="rightTeam1"></div>
            <div id="rightTeam2"></div>
            <div id="rightTeam3"></div>
          </div>
        </div>
      </div>
      <!--        
        <div class="elim-alliance" id="leftElimAlliance"></div>
        <div id="matchOverlay">
          <div id="matchOverlayTop">
            <div class="teams" id="leftTeams">
              <div id="leftTeam1"></div>
              <div id="leftTeam2"></div>
              <div id="leftTeam3"></div>
            </div>
            <div class="score reversible-left">
              <div class="score-number" id="leftScoreNumber"></div>
            </div>
            <div class="score score-right reversible-right">
              <div class="score-number" id="rightScoreNumber"></div>
              <div class="avatars">
                <img class="avatar" id="rightTeam1Avatar" src="" />
                <img class="avatar" id="rightTeam2Avatar" src="" />
                <img class="avatar" id="rightTeam3Avatar" src="" />
              </div>
            </div>
            <div class="teams" id="rightTeams">
              <div id="rightTeam1"></div>
              <div id="rightTeam2"></div>
              <div id="rightTeam3"></div>
            </div>
          </div>
          <div id="eventMatchInfo">
            <span>{{.EventSettings.Name}}</span>
            <div id="matchTime"></div>
            <span id="matchName"></span>
          </div>
        </div>
        <div class="elim-alliance" id="rightElimAlliance"></div>
      </div>
      <div id="elimSeriesStatus">
        <span id="leftElimAllianceWins"></span>&nbsp;-&nbsp;<span id="rightElimAllianceWins"></span>
      </div>
      -->
    </div>

    <div id="blindsContainer">
      <div class="blinds right background">
        <div class="blindsCenter blank"></div>
      </div>
      <div class="blinds left background">
        <div class="blindsCenter blank"></div>
      </div>
      <div class="blindsCenter full">
        <img id="blindsLogo" src="/static/img/dog-transparent.png" alt="logo" />
      </div>
      <div id="finalScore">
        <div class="final-score-container">
          <div class="final-left-score-container">
            <div class="final-score" id="leftFinalScore"></div>
            <div class="final-teams" id="leftFinalTeams">
              <div class="final-team" id="leftFinalTeam1"></div>
              <div class="final-team" id="leftFinalTeam2"></div>
              <div class="final-team" id="leftFinalTeam3"></div>
            </div>
          </div>
          <div class="final-right-score-container">
            <div class="final-score" id="rightFinalScore"></div>
            <div class="final-teams" id="rightFinalTeams">
              <div class="final-team" id="rightFinalTeam1"></div>
              <div class="final-team" id="rightFinalTeam2"></div>
              <div class="final-team" id="rightFinalTeam3"></div>
            </div>
          </div>
        </div>
        <div class="final-breakdown">
          <div id="leftFinalAutoPoints"></div>
          <div class="final-breakdown-header">Auto</div>
          <div id="rightFinalAutoPoints"></div>

          <div id="leftFinalTeleopPoints"></div>
          <div class="final-breakdown-header">Teleop</div>
          <div id="rightFinalTeleopPoints"></div>

          <div id="leftFinalEndgamePoints"></div>
          <div class="final-breakdown-header">Endgame</div>
          <div id="rightFinalEndgamePoints"></div>

        </div>
        <div id="finalEventMatchInfo">
          <div class="final-footer" style="text-align: left;">{{.EventSettings.Name}}</div>
          <div class="final-footer-header" style="text-align: center;" id="finalSeriesStatus">&nbsp;</div>
          <div class="final-footer" style="text-align: right;" id="finalMatchName">&nbsp;</div>
        </div>
      </div>
      <div id="bracket">
        <img id="bracketSvg" src="" />
      </div>
      <div id="sponsor" class="carousel slide">
        <div class="carousel-inner" id="sponsorContainer">
        </div>
      </div>
    </div>
    <div id="allianceSelectionCentering" style="display: none;">
      <div id="allianceSelection"></div>
    </div>
    <div id="lowerThird">
      <img id="lowerThirdLogo" src="/static/img/lower-third-logo.png" alt="logo" />
      <div id="lowerThirdTop"></div>
      <div id="lowerThirdBottom"></div>
      <div id="lowerThirdSingle"></div>
    </div>
    <script id="allianceSelectionTemplate" type="text/x-handlebars-template">
      <table id="allianceSelectionTable">
        <tr>
          <td colspan="{{"{{numColumns}}"}}">
            <img src="/static/img/alliance-selection-logo.png" alt="logo" />
          </td>
        </tr>
        {{"{{#each alliances}}"}}
          <tr>
            <td class="alliance-cell">{{"{{Index}}"}}</td>
            {{"{{#each this.TeamIds}}"}}
              <td class="selection-cell">{{"{{#if this}}"}}{{"{{this}}"}}{{"{{/if}}"}}</td>
            {{"{{/each}}"}}
          </tr>
        {{"{{/each}}"}}
      </table>
    </script>
    <script id="sponsorImageTemplate" type="text/x-handlebars-template">
      <div class="item{{"{{#if First}}"}} active{{"{{/if}}"}}" data-interval="{{"{{DisplayTimeMs}}"}}">
        <div class="sponsor-image-container">
          <img src="/static/img/sponsors/{{"{{Image}}"}}" />
        </div>
        <h1>{{"{{Subtitle}}"}}</h1>
      </div>
    </script>
    <script id="sponsorTextTemplate" type="text/x-handlebars-template">
      <div class="item{{"{{#if First}}"}} active{{"{{/if}}"}}" data-interval="{{"{{DisplayTimeMs}}"}}">
        <h2>{{"{{Line1}}"}}<br />{{"{{Line2}}"}}</h2>
        <h1>{{"{{Subtitle}}"}}</h1>
      </div>
    </script>
  </div>

  {{range $sound := .MatchSounds}}
  <audio id="sound-{{$sound.Name}}" src="/static/audio/{{$sound.Name}}.{{$sound.FileExtension}}" preload="auto">
  </audio>
  {{end}}
  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
  <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
  <script src="/static/js/lib/jquery.transit.min.js"></script>
  <script src="/static/js/lib/handlebars-1.3.0.js"></script>
  <script src="/static/js/lib/bootstrap.min.js"></script>
  <script src="/static/js/cheesy-websocket.js"></script>
  <script src="/static/js/match_timing.js"></script>
  <script src="/static/js/audience_display.js"></script>
</body>

</html>