
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}

<div class="container-fluid full-height">
  <div class="row full-height">
    <h1 class="text-center score-number" id="matchTime"></h1>
    <h3 class="text-center" style="margin-bottom: 30px;">
      Current Stage: <b><span id="currentStage"></span></b> 
    </h3>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center well-blue">
      <h3>Blue Alliance</h3>
      <h1 class="score-number" id="blueTotalScore">0</h1>
      <div class="score-buttons-container">
        <button id="blueIncrease" type="button" class="score-button increase-button disabled-score-button" onclick="increaseScore('blue',1)" disabled>+</button>
        <button id="redIncrease" type="button" class="score-button decrease-button disabled-score-button" onclick="increaseScore('blue',-1)" disabled>-</button>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center well-red">
      <h3>Red Alliance</h3>
      <h1 class="score-number" id="redTotalScore">0</h1>
      <div class="score-buttons-container">
        <button type="button" class="score-button increase-button disabled-score-button" onclick="increaseScore('red',1)" disabled>+</button>
        <button type="button" class="score-button decrease-button disabled-score-button" onclick="increaseScore('red',-1)" disabled>-</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
            <div class="col-lg-6 well-blue score-block">
              <div class="row">
                <div class="col-lg-12 blue-text">Auto</div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <Button onclick="blueIncrement()">Increase +1</Button>
                  <input id="blueAutoScore" class="form-control input-sm" value="{{.BlueScore.AutoPoints}}" disabled onblur="updateRealtimeScore();" onkeypress="scoreKeyHandler()" data-next="blueTeleopScore"/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 blue-text">Teleop</div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <input id="blueTeleopScore" class="form-control input-sm" value="{{.BlueScore.TeleopPoints}}" disabled onblur="updateRealtimeScore();" onkeypress="scoreKeyHandler()" data-next="blueEndgameScore"/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 blue-text">Endgame</div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <input id="blueEndgameScore" class="form-control input-sm" value="{{.BlueScore.EndgamePoints}}" disabled onblur="updateRealtimeScore();" onkeypress="scoreKeyHandler()" data-next="redAutoScore"/>
                </div>
              </div>
            </div>
            <div class="col-lg-6 well-red score-block">
              <div class="row">
                <div class="col-lg-12 red-text">Auto</div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <input id="redAutoScore" class="form-control input-sm" value="{{.RedScore.AutoPoints}}" disabled onblur="updateRealtimeScore();" onkeypress="scoreKeyHandler()" data-next="redTeleopScore"/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 red-text">Teleop</div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <input id="redTeleopScore" class="form-control input-sm" value="{{.RedScore.TeleopPoints}}" disabled onblur="updateRealtimeScore();" onkeypress="scoreKeyHandler()" data-next="redEndgameScore"/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 red-text">Endgame</div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <input id="redEndgameScore" class="form-control input-sm" value="{{.RedScore.EndgamePoints}}" disabled onblur="updateRealtimeScore();" onkeypress="scoreKeyHandler()" data-next="blueAutoScore"/>
                </div>
              </div>
            </div>
          </div> -->


{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}
{{define "matchPlayTeam"}}

{{end}}